<aside>
  <h2>You want some crunchy stories?</h2>

  <h2>Then you're at the good place :)</h2>

  <div class="newsWidget">
    {{#each partials.newsContext}}
    <div>
      <h3>{{heading}}</h3>

      {{body}}
      </a>
    </div>
    {{/each}}

  </div>

</aside>