<h2> HEY YOU WHO IS LOOKING AT THIS PAGE </h2>

<h2> YES YOU </h2>

<h2> WHAT ARE YOU DOING HERE </h2>

<h2> THIS PLACE IS ONLY FOR THE MEMBERS OF THE "CHEZ BENACER" SERVER </h2>

<h2> IF YOU ARE WHAT WE CALL A RANDOM PLEASE GET OUT OF HERE BY DOING "Ctrl + W" </h2>

<h2> Else I will assume you are one of those idiots </h2>

<h2> In this case, I will ask of you to go to to the #général channel, type "bonzoir" and ping me, I will then give you a role that will let you check the "About us" part of the server </h2>

{{> news}}