<ul>
  <a href="/Gold">
      <li> The big chief of the server (me) </li>
  </a>
</ul>

<ul>
  <a href="/Nbleo">
      <li> EL official admin of the server </li>
  </a>
</ul>

<ul>
  <a href="/Benacer">
      <li> DA unofficial admin dude </li>
  </a>
</ul>

<ul>
  <a href="/Seb">
      <li> The smokingly smoking guy that is surely smoking right now </li>
  </a>
</ul>